@use 'variables' as *;
@use 'mixins' as *;

// Подключение шрифтов
@font-face {
  font-family: 'Orbitron';
  src: url('../assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

// Основные стили макета
.header {
  @include flex();
  padding-top: var(--space-md);
  padding-bottom: var(--space-md);
  background: $gradient-base;
  border-bottom: $border-base;

  &__logo {
    @include flex(row, flex-start, center, var(--space-md));
  }

  &__nav {}
}

.main {
  @include flex();
  background: var(--main-bg-image) center/cover no-repeat;
  flex: 1;
}

.container {
  width: 75%;

  &--header {
    @include flex(row, space-between, center, var(--safe-space));
    flex-wrap: wrap;
  }

  &--main {
    @include flex();
  }
}

.input-fields {
  border-radius: $radius-base;
  width: 100%;
  padding: var(--space-xs);
  background-color: $color-bg;
  font-family: $font-main;
  font-size: var(--font-size-base);
  color: $color-text-dark;

  &:focus {
    outline: none;
    box-shadow: $focus-ring;
  }
}

.button {
  border-radius: $radius-base;
  background: $btn-gradient;
  background-size: 150% 150%;
  background-position: left top;
  padding: var(--space-xs) var(--space-md);
  color: $color-text-light;
  text-align: center;
  transition: background-position $transition-base;

  &:hover {
    background-position: right center;
  }
}

.title {
  font-size: var(--font-size-md);
  font-family: $font-accent;
  font-weight: bold;

  &--main {
    font-size: var(--font-size-lg);
    color: $color-text-light;
    text-shadow: $text-shadow-neon;
  }
}

.icon {
  min-width: var(--icon-container-size);
  max-width: var(--icon-container-size);
  height: var(--icon-container-size);
  border: $border-base;
  border-radius: $radius-full;

  &__wrapper {
    @include flex();
    background: $gradient-base;
  }

  &--ui {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &--mask {
    width: 24rem;
    height: 24rem;
    background: $color-bg;
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    transition: $transition-base;
  }
}


.avatar {
  cursor: pointer;
  position: relative;
  width: var(--avatar-container-size);
  height: var(--avatar-container-size);

  &:hover {

    >.avatar__overlay,
    >.avatar__icon {
      opacity: 1;
    }
  }

  &__bg {
    width: var(--avatar-container-size);
    height: var(--avatar-container-size);
    background-image: var(--avatar);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__overlay,
  &__icon {
    position: absolute;
    opacity: 0;
    transition: opacity $transition-base;
  }

  &__overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-overlay-light;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &--mouse-pointer-click {
      mask-image: url(../assets/images/ui/mouse_pointer_click_icon.svg);
    }

    &--edit {
      mask-image: url(../assets/images/ui/edit_icon.svg);
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-overlay-dark;
  opacity: 1;
  transition: opacity $transition-base;

  &--close {
    opacity: 0;
    z-index: -1;
  }
}