@use 'variables' as *;
@use 'mixins' as *;

.logo {
  text-decoration: none;

  &__icon {
    display: block;
    background-image: url(../assets/images/ui/cosmo_bots_logo.webp);
  }

  &__title {
    display: block;
    text-decoration: none;
  }
}

.nav {

  &__list {
    @include flex(row, flex-start, center, var(--space-lg));
  }

  &__item {}

  &__link {
    @include flex(row, flex-start, center, var(--space-md));

    &:hover>.icon__wrapper {
      background-position: right center;
    }
  }

  &__icon {
    display: block;

    &--arena {
      mask-image: url(../assets/images/ui/arena_icon.svg);
    }

    &--profile {
      background-image: var(--avatar);
    }

    &--settings {
      mask-image: url(../assets/images/ui/settings_icon.svg);
    }
  }
}